<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 offset-lg-4 offset-md-3">
      <div class="card text-bg-light mt-5">
        <div class="card-body">
          <h3 class="card-title">Login</h3>
          <form
            *ngIf="loginForm && !isMFA"
            [formGroup]="loginForm"
            (submit)="submitLoginForm()"
            novalidate
          >
            <form-input-field
              [control]="loginForm.controls['email']"
              controlName="email"
              label="Email Address"
              [type]="formInputFieldTypeEnum.EMAIL"
            ></form-input-field>

            <form-input-field
              [control]="loginForm.controls['password']"
              controlName="password"
              label="Password"
              [type]="
                hide()
                  ? formInputFieldTypeEnum.PASSWORD
                  : formInputFieldTypeEnum.TEXT
              "
              [icon]="hide() ? 'heroEyeSlash' : 'heroEye'"
              [canClickIcon]="true"
              (inputIconClick)="toggleVisibility($event)"
            ></form-input-field>

            <div class="mb-3">
              <a [routerLink]="['/', 'auth', 'forgot']">Forgot Password</a>
            </div>

            <button class="btn btn-primary w-100" type="submit">Login</button>

            <p class="form-text text-center">
              Don't have an account?
              <a [routerLink]="['/', 'auth', 'signup']">Register</a>
            </p>
          </form>

          <!-- Login with MFA -->
          <app-login-mfa-form *ngIf="isMFA"></app-login-mfa-form>
        </div>
      </div>
    </div>
  </div>
</div>
