<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 offset-lg-4 offset-md-3">
      <div class="card text-bg-light mt-5">
        <div class="card-body">
          <h3 class="card-title">Login</h3>
          <form
            *ngIf="loginForm && !isMFA"
            [formGroup]="loginForm"
            (submit)="submitLoginForm()"
            novalidate
          >
            <div class="form-floating mb-3">
              <input
                id="email"
                class="form-control"
                type="text"
                placeholder="Email Address"
                formControlName="email"
                [class.is-invalid]="
                  loginForm.controls['email'].invalid &&
                  loginForm.controls['email'].touched
                "
              />
              <label for="email" class="form-label">Email Address</label>
              <form-error [control]="loginForm.controls['email']"></form-error>
            </div>
            <div class="mb-3">
              <div class="input-group">
                <div class="form-floating">
                  <input
                    id="password"
                    class="form-control"
                    placeholder="Password"
                    formControlName="password"
                    [type]="hide() ? 'password' : 'text'"
                    [class.is-invalid]="
                      loginForm.controls['password'].invalid &&
                      loginForm.controls['password'].touched
                    "
                    aria-describedby="password-eye-icon"
                  />
                  <label for="password">Password</label>
                </div>
                <button
                  type="button"
                  class="btn btn-outline-secondary"
                  id="password-eye-icon"
                  (click)="toggleVisibility($event)"
                >
                  <fa-icon [icon]="hide() ? faEyeSlash : faEye"></fa-icon>
                </button>
              </div>
              <form-error
                [control]="loginForm.controls['password']"
              ></form-error>
            </div>

            <div class="mb-3">
              <a [routerLink]="['/', 'auth', 'forgot']">Forgot Password</a>
            </div>

            <button class="btn btn-primary w-100" type="submit">Login</button>

            <p class="form-text text-center">
              Don't have an account?
              <a [routerLink]="['/', 'auth', 'signup']">Register</a>
            </p>
          </form>

          <!-- Login with MFA -->
          <app-login-mfa-form *ngIf="isMFA"></app-login-mfa-form>
        </div>
      </div>
    </div>
  </div>
</div>
