<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 offset-lg-4 offset-md-3">
      <div class="card text-bg-light mt-5">
        <div class="card-body">
          <h3 class="card-title">Reset Password</h3>
          <form
            *ngIf="resetPasswordForm"
            [formGroup]="resetPasswordForm"
            (submit)="submitResetPasswordForm()"
            novalidate
          >
            <!-- Password -->
            <form-input-field
              [control]="resetPasswordForm.controls['password']"
              controlName="password"
              label="Password"
              [type]="
                hide()
                  ? formInputFieldTypeEnum.PASSWORD
                  : formInputFieldTypeEnum.TEXT
              "
              [icon]="hide() ? 'heroEyeSlash' : 'heroEye'"
              [canClickIcon]="true"
              (inputIconClick)="toggleVisibility($event)"
            ></form-input-field>

            <!-- Confirm Password -->
            <form-input-field
              [control]="resetPasswordForm.controls['confirmPassword']"
              controlName="confirmPassword"
              label="Confirm Password"
              [type]="
                hide()
                  ? formInputFieldTypeEnum.PASSWORD
                  : formInputFieldTypeEnum.TEXT
              "
              [icon]="hide() ? 'heroEyeSlash' : 'heroEye'"
              [canClickIcon]="true"
              (inputIconClick)="toggleVisibility($event)"
            ></form-input-field>

            <button class="btn btn-primary w-100" type="submit">
              Reset Password
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
