<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 offset-lg-4 offset-md-3">
      <div class="card text-bg-light mt-5">
        <div class="card-body">
          <h3 class="card-title">Reset Password</h3>
          <form
            *ngIf="resetPasswordForm"
            [formGroup]="resetPasswordForm"
            (submit)="submitResetPasswordForm()"
            novalidate
          >
            <!-- Password -->
            <div class="mb-3">
              <div class="input-group">
                <div class="form-floating">
                  <input
                    id="password"
                    class="form-control"
                    placeholder="Password"
                    formControlName="password"
                    [type]="hide() ? 'password' : 'text'"
                    [class.is-invalid]="
                      resetPasswordForm.controls['password'].invalid &&
                      resetPasswordForm.controls['password'].touched
                    "
                    aria-describedby="password-eye-icon"
                  />
                  <label for="password">Password</label>
                </div>
                <button
                  type="button"
                  class="btn btn-outline-secondary"
                  id="password-eye-icon"
                  (click)="toggleVisibility($event)"
                >
                  <fa-icon [icon]="hide() ? faEyeSlash : faEye"></fa-icon>
                </button>
              </div>
              <form-error
                [control]="resetPasswordForm.controls['password']"
              ></form-error>
            </div>

            <!-- Confirm Password -->
            <div class="mb-3">
              <div class="input-group has-validation">
                <div class="form-floating">
                  <input
                    id="confirmPassword"
                    class="form-control"
                    placeholder="Confirm Password"
                    formControlName="confirmPassword"
                    [type]="hide() ? 'password' : 'text'"
                    [class.is-invalid]="
                      resetPasswordForm.controls['confirmPassword'].invalid &&
                      resetPasswordForm.controls['confirmPassword'].touched
                    "
                    aria-describedby="confirm-password-eye-icon"
                  />
                  <label for="confirmPassword">Confirm Password</label>
                </div>
                <button
                  type="button"
                  class="btn btn-outline-secondary"
                  id="confirm-password-eye-icon"
                  (click)="toggleVisibility($event)"
                >
                  <fa-icon [icon]="hide() ? faEyeSlash : faEye"></fa-icon>
                </button>
              </div>
              <form-error
                [control]="resetPasswordForm.controls['confirmPassword']"
              ></form-error>
            </div>
            <button class="btn btn-primary w-100" type="submit">
              Reset Password
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
