<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 offset-lg-4 offset-md-3">
      <div class="card text-bg-light mt-5">
        <div class="card-body">
          <h3 class="card-title">Forgot Password</h3>
          <form
            *ngIf="forgotPasswordForm"
            [formGroup]="forgotPasswordForm"
            (submit)="submitForgotPasswordForm()"
            novalidate
          >
            <div class="form-floating mb-3">
              <input
                id="email"
                class="form-control"
                type="text"
                placeholder="Email Address"
                formControlName="email"
                [class.is-invalid]="
                  forgotPasswordForm.controls['email'].invalid &&
                  forgotPasswordForm.controls['email'].touched
                "
              />
              <label for="email" class="form-label">Email Address</label>
              <form-error
                [control]="forgotPasswordForm.controls['email']"
              ></form-error>
            </div>

            <button class="btn btn-primary w-100" type="submit">
              Request Password Reset
            </button>

            <p class="form-text text-center">
              <a [routerLink]="['/', 'auth', 'login']">Back to Login</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
