<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-12 offset-lg-3 offset-md-2">
      <div class="card text-bg-light mt-5">
        <div class="card-body">
          <h3 class="card-title">Signup</h3>
          <p class="card-text">
            Please register your account to get access to our portal
          </p>
          <form
            *ngIf="signupForm"
            [formGroup]="signupForm"
            (submit)="submitSignupForm()"
            novalidate
          >
            <form-input-field
              [control]="signupForm.controls['firstName']"
              controlName="firstName"
              label="First Name"
              [type]="formInputFieldTypeEnum.TEXT"
            ></form-input-field>

            <form-input-field
              [control]="signupForm.controls['lastName']"
              controlName="lastName"
              label="Last Name"
              [type]="formInputFieldTypeEnum.TEXT"
            ></form-input-field>

            <form-input-field
              [control]="signupForm.controls['phone']"
              controlName="phone"
              label="phone Number"
              [type]="formInputFieldTypeEnum.TEXT"
            ></form-input-field>

            <form-input-field
              [control]="signupForm.controls['email']"
              controlName="email"
              label="Email Address"
              [type]="formInputFieldTypeEnum.EMAIL"
            ></form-input-field>

            <form-input-field
              [control]="signupForm.controls['password']"
              controlName="password"
              label="Password"
              [type]="
                hide()
                  ? formInputFieldTypeEnum.PASSWORD
                  : formInputFieldTypeEnum.TEXT
              "
              [icon]="hide() ? 'heroEyeSlash' : 'heroEye'"
              [canClickIcon]="true"
              (inputIconClick)="toggleVisibility($event)"
            ></form-input-field>

            <form-input-field
              [control]="signupForm.controls['confirmPassword']"
              controlName="confirmPassword"
              label="Confirm Password"
              [type]="
                hide()
                  ? formInputFieldTypeEnum.PASSWORD
                  : formInputFieldTypeEnum.TEXT
              "
              [icon]="hide() ? 'heroEyeSlash' : 'heroEye'"
              [canClickIcon]="true"
              (inputIconClick)="toggleVisibility($event)"
            ></form-input-field>

            <form-input-field
              [control]="signupForm.controls['agreeTerms']"
              controlName="agreeTerms"
              [type]="formInputFieldTypeEnum.CHECKBOX"
            >
              <span class="labelCustomText">
                I agree to the <a href="#">Terms and conditions</a>
              </span>
            </form-input-field>

            <button class="btn btn-primary w-100" type="submit">Signup</button>
            <p class="form-text text-center">
              Already have an account:
              <a [routerLink]="['/', 'auth', 'login']">Login</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
