<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-12 offset-lg-3 offset-md-2">
      <div class="card text-bg-light mt-5">
        <div class="card-body">
          <h3 class="card-title">Signup</h3>
          <p class="card-text">
            Please register your account to get access to our portal
          </p>
          <form
            *ngIf="signupForm"
            [formGroup]="signupForm"
            (submit)="submitSignupForm()"
            novalidate
          >
            <div class="form-floating mb-3">
              <input
                id="firstName"
                class="form-control"
                type="text"
                placeholder="First Name"
                formControlName="firstName"
                [class.is-invalid]="
                  signupForm.controls['firstName'].invalid &&
                  signupForm.controls['firstName'].touched
                "
              />
              <label for="firstName" class="form-label">First Name</label>
              <form-error
                [control]="signupForm.controls['firstName']"
              ></form-error>
            </div>
            <div class="form-floating mb-3">
              <input
                id="lastName"
                class="form-control"
                type="text"
                placeholder="Last Name"
                formControlName="lastName"
                [class.is-invalid]="
                  signupForm.controls['lastName'].invalid &&
                  signupForm.controls['lastName'].touched
                "
              />
              <label for="lastName" class="form-label">Last Name</label>
              <form-error
                [control]="signupForm.controls['lastName']"
              ></form-error>
            </div>
            <div class="form-floating mb-3">
              <input
                id="phone"
                class="form-control"
                type="text"
                placeholder="First Name"
                formControlName="phone"
                [class.is-invalid]="
                  signupForm.controls['phone'].invalid &&
                  signupForm.controls['phone'].touched
                "
              />
              <label for="phone" class="form-label">Phone Number</label>
              <form-error [control]="signupForm.controls['phone']"></form-error>
            </div>
            <div class="form-floating mb-3">
              <input
                id="email"
                class="form-control"
                type="text"
                placeholder="Email Address"
                formControlName="email"
                [class.is-invalid]="
                  signupForm.controls['email'].invalid &&
                  signupForm.controls['email'].touched
                "
              />
              <label for="email" class="form-label">Email Address</label>
              <form-error [control]="signupForm.controls['email']"></form-error>
            </div>
            <div class="mb-3">
              <div class="input-group">
                <div class="form-floating">
                  <input
                    id="password"
                    class="form-control"
                    placeholder="Password"
                    formControlName="password"
                    [type]="hide() ? 'password' : 'text'"
                    [class.is-invalid]="
                      signupForm.controls['password'].invalid &&
                      signupForm.controls['password'].touched
                    "
                    aria-describedby="password-eye-icon"
                  />
                  <label for="password">Password</label>
                </div>
                <button
                  type="button"
                  class="btn btn-outline-secondary"
                  id="password-eye-icon"
                  (click)="toggleVisibility($event)"
                >
                  <fa-icon [icon]="hide() ? faEyeSlash : faEye"></fa-icon>
                </button>
              </div>
              <form-error
                [control]="signupForm.controls['password']"
              ></form-error>
            </div>
            <div class="mb-3">
              <div class="input-group has-validation">
                <div class="form-floating">
                  <input
                    id="confirmPassword"
                    class="form-control"
                    placeholder="Confirm Password"
                    formControlName="confirmPassword"
                    [type]="hide() ? 'password' : 'text'"
                    [class.is-invalid]="
                      signupForm.controls['confirmPassword'].invalid &&
                      signupForm.controls['confirmPassword'].touched
                    "
                    aria-describedby="confirm-password-eye-icon"
                  />
                  <label for="confirmPassword">Confirm Password</label>
                </div>
                <button
                  type="button"
                  class="btn btn-outline-secondary"
                  id="confirm-password-eye-icon"
                  (click)="toggleVisibility($event)"
                >
                  <fa-icon [icon]="hide() ? faEyeSlash : faEye"></fa-icon>
                </button>
              </div>
              <form-error
                [control]="signupForm.controls['confirmPassword']"
              ></form-error>
            </div>
            <div class="mb-3">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="agreeTermsConditions"
                  formControlName="agreeTerms"
                />
                <label class="form-check-label" for="agreeTermsConditions">
                  I agree to the <a href="#">Terms and conditions</a>
                </label>
              </div>
              <form-error
                [control]="signupForm.controls['agreeTerms']"
              ></form-error>
            </div>

            <button class="btn btn-primary w-100" type="submit">Signup</button>
            <p class="form-text text-center">
              Already have an account:
              <a [routerLink]="['/', 'auth', 'login']">Login</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
